<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistExceptSingleton</key>
	<string>futureLikeVar</string>
	<key>exceptionCompositeIndex</key>
	<string>seamlessBaseResponse</string>
	<key>exponentBesideCommand</key>
	<string>cacheNumberDuration</string>
	<key>invisibleLabelMode</key>
	<string>frameLikeVariable</string>
	<key>navigatorWithoutParameter</key>
	<string>usagePatternType</string>
	<key>storeThroughTemple</key>
	<string>cubeUntilSingleton</string>
</dict>
</plist>
