<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentStructureDepth</key>
	<string>channelAtParameter</string>
	<key>extensionFromWork</key>
	<string>decorationParameterAlignment</string>
	<key>inkwellChainCoord</key>
	<string>logVarMode</string>
	<key>loopTaskTint</key>
	<string>coordinatorContainCommand</string>
	<key>primaryNodeBorder</key>
	<string>eagerIntensitySkewx</string>
</dict>
</plist>
