<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitCompositeTheme</key>
	<string>nodeWithMediator</string>
	<key>dynamicTouchName</key>
	<string>notifierOperationOffset</string>
	<key>featureInsideType</key>
	<string>significantVectorOrigin</string>
	<key>isolateThroughPattern</key>
	<string>flexibleBatchBehavior</string>
	<key>localizationPlatformSize</key>
	<string>directDurationMomentum</string>
	<key>mediumRouteTop</key>
	<string>factoryAroundMemento</string>
	<key>nextCurveType</key>
	<string>similarAwaitOffset</string>
	<key>petAlongProcess</key>
	<string>cardVisitorPosition</string>
	<key>resourceFromPhase</key>
	<string>reducerFromType</string>
	<key>segueProxyResponse</key>
	<string>subscriptionCycleRight</string>
</dict>
</plist>
