<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstKind</key>
	<string>asyncOfStyle</string>
	<key>navigatorOfMemento</key>
	<string>swiftViaStructure</string>
	<key>respectiveNavigationRotation</key>
	<string>statefulAndInterpreter</string>
	<key>routerCompositeMomentum</key>
	<string>modalAmongProxy</string>
	<key>titleObserverKind</key>
	<string>sophisticatedSpriteTension</string>
</dict>
</plist>
