<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionExceptForm</key>
	<string>listenerByParameter</string>
	<key>immediateLoopContrast</key>
	<string>frameSincePlatform</string>
	<key>painterBeyondType</key>
	<string>arithmeticAdapterDuration</string>
	<key>repositoryAtEnvironment</key>
	<string>radiusNearFramework</string>
</dict>
</plist>
