<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackContextInset</key>
	<string>commandParamState</string>
	<key>canvasOperationShape</key>
	<string>cellContainParam</string>
	<key>challengeInsidePhase</key>
	<string>typicalDelegateAcceleration</string>
	<key>dynamicPlateType</key>
	<string>loopLevelEdge</string>
	<key>opaqueModalColor</key>
	<string>widgetValueOrigin</string>
	<key>reactiveButtonInteraction</key>
	<string>permissiveFragmentMargin</string>
	<key>singletonAboutAdapter</key>
	<string>equipmentOfFacade</string>
	<key>transformerViaForm</key>
	<string>concreteRowFrequency</string>
</dict>
</plist>
