<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCubitPressure</key>
	<string>decorationBufferLeft</string>
	<key>modelPhaseFrequency</key>
	<string>unactivatedBitrateOrigin</string>
	<key>protocolWithActivity</key>
	<string>rowExceptParameter</string>
	<key>respectiveRouterOffset</key>
	<string>navigationBesidePattern</string>
	<key>sophisticatedTransitionFeedback</key>
	<string>animationViaWork</string>
	<key>tappableStackTension</key>
	<string>intensityAtPlatform</string>
</dict>
</plist>
