<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaInsideTier</key>
	<string>lostNotifierIndex</string>
	<key>cartesianCoordinatorCenter</key>
	<string>bulletPhaseSpeed</string>
	<key>eventFromInterpreter</key>
	<string>projectionAboutJob</string>
	<key>factoryNumberValidation</key>
	<string>queryOfNumber</string>
	<key>intuitiveAllocatorSaturation</key>
	<string>columnSingletonInset</string>
	<key>layoutSinceTemple</key>
	<string>delicateButtonPressure</string>
	<key>smartConvolutionAcceleration</key>
	<string>backwardListviewVisible</string>
	<key>stepUntilVisitor</key>
	<string>mainTimerCenter</string>
</dict>
</plist>
