<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicNotifierInterval</key>
	<string>actionActivityCoord</string>
	<key>hyperbolicQueryRight</key>
	<string>usecasePerInterpreter</string>
	<key>navigatorOfProxy</key>
	<string>currentSizeOpacity</string>
	<key>nibValueTension</key>
	<string>symmetricTweenAppearance</string>
	<key>prevAwaitShade</key>
	<string>delegateProxyMomentum</string>
	<key>segmentByProxy</key>
	<string>comprehensiveScaleLeft</string>
	<key>zoneBeyondFramework</key>
	<string>prismaticApertureAlignment</string>
</dict>
</plist>
