<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorModeSkewx</key>
	<string>menuCompositeCoord</string>
	<key>gestureWithPhase</key>
	<string>crucialQueryScale</string>
	<key>lostRouteLocation</key>
	<string>arithmeticExceptFacade</string>
	<key>protocolPlatformPressure</key>
	<string>entityBeyondObserver</string>
	<key>semanticCanvasTension</key>
	<string>accessibleMonsterSaturation</string>
</dict>
</plist>
