<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateProxyOffset</key>
	<string>equipmentIncludeStrategy</string>
	<key>paddingDespiteSystem</key>
	<string>tappableCharacterVelocity</string>
	<key>permissiveEffectBorder</key>
	<string>custompaintWithPlatform</string>
	<key>projectVersusNumber</key>
	<string>screenDecoratorSkewx</string>
	<key>rectBridgeTheme</key>
	<string>reducerDuringFramework</string>
	<key>routeBesideBridge</key>
	<string>queueVarSaturation</string>
	<key>techniqueVarSkewx</key>
	<string>exceptionBridgeOpacity</string>
</dict>
</plist>
