<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLevelFormat</key>
	<string>semanticTaskEdge</string>
	<key>cellAndForm</key>
	<string>rectOfWork</string>
	<key>channelProxyStyle</key>
	<string>viewMethodFrequency</string>
	<key>configurationEnvironmentTag</key>
	<string>reducerContainScope</string>
	<key>customizedPositionedSkewy</key>
	<string>textBridgePadding</string>
	<key>customizedTangentDistance</key>
	<string>handlerWithTemple</string>
	<key>delegatePhaseInset</key>
	<string>equalizationCommandHead</string>
	<key>dynamicEventName</key>
	<string>independentVariantDelay</string>
	<key>gemWorkDistance</key>
	<string>intensityPhaseSpacing</string>
	<key>visibleCollectionBorder</key>
	<string>buttonParamScale</string>
</dict>
</plist>
