<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedExceptionFeedback</key>
	<string>tensorStoryboardVelocity</string>
	<key>checklistUntilTask</key>
	<string>subsequentNormShape</string>
	<key>draggableContainerResponse</key>
	<string>serviceContainOperation</string>
	<key>protectedSignatureInset</key>
	<string>reducerAwayVariable</string>
	<key>requiredNavigatorInterval</key>
	<string>tabbarAsOperation</string>
	<key>singleHandlerDuration</key>
	<string>pageviewPhaseVisibility</string>
	<key>switchViaFunction</key>
	<string>accessoryForAdapter</string>
</dict>
</plist>
