<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFunctionSpacing</key>
	<string>characterNearLayer</string>
	<key>decorationAdapterBehavior</key>
	<string>effectAsVar</string>
	<key>gradientBesideFacade</key>
	<string>particlePlatformShade</string>
	<key>instructionContainLayer</key>
	<string>deferredDelegateCount</string>
	<key>layerAwayMethod</key>
	<string>tweenSingletonFormat</string>
	<key>oldInterfaceValidation</key>
	<string>inactiveCurveHue</string>
	<key>painterDuringParameter</key>
	<string>respectiveTaskValidation</string>
	<key>plateParamFormat</key>
	<string>enabledSineKind</string>
	<key>rapidUsecaseTransparency</key>
	<string>localizationLevelLeft</string>
	<key>subscriptionVariableMode</key>
	<string>discardedMenuDuration</string>
</dict>
</plist>
