<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCellState</key>
	<string>activeTopicResponse</string>
	<key>errorOrFacade</key>
	<string>boxshadowOfStyle</string>
	<key>numericalDescriptionIndex</key>
	<string>resolverPrototypeOrientation</string>
	<key>sampleContextOpacity</key>
	<string>baselineAwayParameter</string>
</dict>
</plist>
