<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStrategyTop</key>
	<string>specifyProgressbarCenter</string>
	<key>granularBinaryLeft</key>
	<string>touchUntilPhase</string>
	<key>masterAndFacade</key>
	<string>extensionBufferInteraction</string>
	<key>mediocreActionStyle</key>
	<string>singletonSinceVar</string>
	<key>semanticSizeAcceleration</key>
	<string>independentCupertinoMode</string>
	<key>uniformLogStatus</key>
	<string>synchronousVectorStatus</string>
</dict>
</plist>
