<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAndInterpreter</key>
	<string>iconTaskDistance</string>
	<key>apertureAroundActivity</key>
	<string>histogramAtBuffer</string>
	<key>callbackByAdapter</key>
	<string>actionSinceComposite</string>
	<key>equipmentCycleFrequency</key>
	<string>subsequentBlocInteraction</string>
	<key>signWithoutParameter</key>
	<string>reactivePresenterOffset</string>
	<key>transitionPerLayer</key>
	<string>routeDespiteFacade</string>
</dict>
</plist>
