<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByComposite</key>
	<string>popupActivityRight</string>
	<key>characterExceptVariable</key>
	<string>behaviorAwayParam</string>
	<key>collectionAsFramework</key>
	<string>containerUntilStructure</string>
	<key>cubitOrSingleton</key>
	<string>grainFromJob</string>
	<key>intermediateDurationVisibility</key>
	<string>cupertinoEffectLocation</string>
	<key>methodNumberVisible</key>
	<string>sophisticatedCustompaintCoord</string>
	<key>stepOutsideWork</key>
	<string>scrollableBuilderBrightness</string>
	<key>tappableNavigatorSize</key>
	<string>staticCapacitiesStyle</string>
</dict>
</plist>
