<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAwayLayer</key>
	<string>overlayVarType</string>
	<key>histogramByObserver</key>
	<string>agileBrushVisibility</string>
	<key>missedSingletonSaturation</key>
	<string>asyncAssetMode</string>
	<key>mobileViewTension</key>
	<string>layoutInsideComposite</string>
	<key>multiLossAcceleration</key>
	<string>sampleModeShape</string>
	<key>newestTweenRight</key>
	<string>mediumDelegateCoord</string>
	<key>scrollInsideWork</key>
	<string>activeSpriteValidation</string>
	<key>statefulOperationMomentum</key>
	<string>sineSingletonLeft</string>
</dict>
</plist>
