<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChapterPosition</key>
	<string>transitionAndPhase</string>
	<key>captionParameterLocation</key>
	<string>heapVisitorStyle</string>
	<key>configurationAgainstPattern</key>
	<string>intermediateBlocInset</string>
	<key>decorationUntilBuffer</key>
	<string>transformerBridgeFlags</string>
	<key>delegateOperationMargin</key>
	<string>greatWidgetTransparency</string>
	<key>lossVisitorOrigin</key>
	<string>captionFacadeMargin</string>
	<key>permanentThreadDensity</key>
	<string>layerFlyweightPressure</string>
	<key>queryAtProcess</key>
	<string>transitionDuringLayer</string>
	<key>techniqueDecoratorDistance</key>
	<string>subtleMusicTheme</string>
	<key>timerStructurePadding</key>
	<string>configurationCycleTag</string>
</dict>
</plist>
