<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentProxyCount</key>
	<string>animatedcontainerAwayEnvironment</string>
	<key>cacheProxyHue</key>
	<string>firstDependencyDepth</string>
	<key>denseButtonDensity</key>
	<string>dependencyOutsideWork</string>
	<key>isolateAwayStage</key>
	<string>priorLoopRight</string>
	<key>listviewCycleInteraction</key>
	<string>particleEnvironmentFormat</string>
	<key>sharedPositionCoord</key>
	<string>normalPreviewShade</string>
	<key>timerUntilAdapter</key>
	<string>bulletStructureHue</string>
	<key>transitionAboutParameter</key>
	<string>reactiveParticleSize</string>
	<key>viewAsAction</key>
	<string>layoutTempleOpacity</string>
</dict>
</plist>
