<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionBesideSingleton</key>
	<string>segueThanOperation</string>
	<key>concurrentPositionAlignment</key>
	<string>baseVarDirection</string>
	<key>desktopFlexMode</key>
	<string>statefulFutureValidation</string>
	<key>explicitObserverAlignment</key>
	<string>batchFromForm</string>
	<key>factoryThanInterpreter</key>
	<string>taskContainPattern</string>
	<key>scrollableMultiplicationAcceleration</key>
	<string>timerWorkMode</string>
	<key>storageWithoutForm</key>
	<string>queryAndValue</string>
</dict>
</plist>
